<option value="ES">Español (Preferred language)</option>
<option value="BG">български (Preferred language)</option>
<option value="DE">Deutsch (Preferred language)</option>
<option value="AR">العربية (Preferred language)</option>
<option value="CN">简体中文  (Preferred language)</option>
<option value="RO">Română (Preferred language)</option>
<option value="IT">Italiano (Preferred language)</option>
<option value="RU">Русский (Preferred language)</option>
<option value="PO">Português (Preferred language)</option>
<option value="NL">Dutch (Preferred language)</option>
<option value="FR">Français (Preferred language)</option>
<option value="EN" selected="selected">English (Preferred language)</option>