<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>

<div class="wrapper">
	<header>
		<div class="login-form">
			<div class="content">
				<div class="close-login">X</div>
				<form><input type="email" placeholder="Email"/><input type="password" placeholder="Password"/><input type="submit" value="Login"/></form>
			</div>
		</div>
		<div class="topbar">
			<div class="content">
				<div class="logo"><img src="assets/marketsworld-logo.png" alt="Marketsworld South Africa"/></div>
				<nav class="menu">
					<div class="navtoogle"></div>
					<ul class="nav">
						<li><a href="#ID-assets">Assets</a></li>
						<li><a href="#ID-tradingroom">Trading room</a></li>
						<li><a href="#ID-platform">Platforms</a></li>
						<li><a href="#ID-withdrawal">Withdrawal</a></li>
						<li class="green menu-openaccount"><a>Open Account</a></li>
						<li class="menu-login"><a href="https://www.marketsworld.com/">Log in</a></li>
					</ul>
				</nav>
			</div>
			
		</div>
		<div class="slidearea">
			<div class="content">
				<div class="text">
					<!-- PAGE HEADER -->
					<h1><div>Markets<span>World</span></div><div class="flag"><img src="assets/sa-flag.png" alt="MarketsWorld South Africa" /></div><div>South Africa</div></h1>

					<!-- SUBHEADERS WITH ICONS -->
					<div class="subheader">
						<div>
							<img src="assets/icon-red-1.png" alt="100% Start Up Bonus" /><div><span>100% Start Up Bonus</span>Up to $1000</div>
						</div>
						<div>
							<img src="assets/icon-red-2.png" alt="$50 risk free trades for new traders" /><div><span>Licensed &amp; Regulated</span>In the Isle of Man</div>
						</div>
					</div>

					<!-- BULLET POINTS -->
					<div class="bulletpoints">
						<ul>
							<li><img class="checkmark" src="assets/checkmark.png" alt="Marketsworld South Africa"/><span>Up to 90% Returns</span><img class="arrows" src="assets/arrows.png" alt="Marketsworld South Africa"/></li>
							<li><img class="checkmark" src="assets/checkmark.png" alt="Marketsworld South Africa"/><span>$10 No Deposit Bonus</span><img class="arrows" src="assets/arrows.png" alt="Marketsworld South Africa"/></li>
							<li><img class="checkmark" src="assets/checkmark.png" alt="Marketsworld South Africa"/><span>Free &amp; Unlimited Demo Account</span><img class="arrows" src="assets/arrows.png" alt="Marketsworld South Africa"/></li>
						</ul>
					</div>

				</div>

				<div class="reg">
					<div class="reg-box">						
						<div class="reg-header"><span>OPEN ACCOUNT IN 3 EASY STEPS</span></div>
						<div class="reg-icons"><img src="assets/reg-icons.png" alt="Register with Marketsworld South Africa"/></div>
						<div class="splash-licensed"><img src="assets/licensed-broker.png" alt="MarketsWorld Licensed Broker"/></div>
						<form name="registration_1" id="registration_one" class="registration_1" action="https://s3.marketsworldstaging.com/users" method="post">
							<div class="reg-content reg-step-1 first_part_1">
								<div class="steps"><img src="assets/reg-step-1.png"/></div>
								<div>
									<label>Username</label>
									<input id="user_name_1" type="text" placeholder="Choose Username" name="user[login]" />

									<label>Country of residence</label>
									<div class="styled-select dropdown">
										<select id="user_country_1" name="user[country]">
											<%= render partial: "country"%>
										</select>
									</div>
									<label>Language</label>
									<div class="styled-select dropdown">
										<select id="user_last_chosen_language_1" name="user[last_chosen_language]">
											<%= render partial: "language"%>
										</select>
									</div>

									<div class="submit-btn"><img src="assets/submit-btn-arrow.png" alt="MarketsWorld South Africa"/><input type="button" value="Join Now" class="join_now_1" /></div>
								</div>
								<span class="terms"><a href="#">*Terms apply</a></span>
							</div>
							<div class="reg-content reg-step-2 second_part_1">
								<div class="steps"><img src="assets/reg-step-2.png"/></div>
								<div>
									<label>Password</label>
									<input id="user_password_1" type="password" placeholder="Choose password" name="user[password_alias]" title="8 to 20 characters long and includes one of each: uppercase; lowercase; and a number or symbol"/>

									<label>Repeat Password</label>
									<input id="user_password_repeat_1" type="password" placeholder="Repeat password" name="user[password_alias_confirmation]" title="Passwords must match" />

									<div class="birthday">
										<label>Date of birth</label>
										<div class="styled-select dropdown small day">
											<select class="birth" id="user_birthdate_3i_1" name="user[birthdate(3i)]">
												<option value="">Day</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">22</option>
												<option value="23">23</option>
												<option value="24">24</option>
												<option value="25">25</option>
												<option value="26">26</option>
												<option value="27">27</option>
												<option value="28">28</option>
												<option value="29">29</option>
												<option value="30">30</option>
												<option value="31">31</option>
											</select>
										</div>

										<div class="styled-select dropdown small month">
											<select class="birth" id="user_birthdate_2i_1" name="user[birthdate(2i)]">
												<option value="">Month</option>
												<option value="1">Jan</option>
												<option value="2">Feb</option>
												<option value="3">Mar</option>
												<option value="4">Apr</option>
												<option value="5">May</option>
												<option value="6">Jun</option>
												<option value="7">Jul</option>
												<option value="8">Aug</option>
												<option value="9">Sep</option>
												<option value="10">Oct</option>
												<option value="11">Nov</option>
												<option value="12">Dec</option>
											</select>
										</div>

										<div class="styled-select dropdown small year">
											<select class="birth" id="user_birthdate_1i_1" name="user[birthdate(1i)]">
											</select>
										</div>
									</div>

									<div id="birthdate_error_message_div_1"></div>

									<div class="submit-btn"><img src="assets/submit-btn-arrow.png" alt="MarketsWorld South Africa"/><input type="button" value="Next Step" class="next_step_1" /></div>
									<span class="terms"><a href="#">*Terms apply</a></span>
								</div>
							</div>

							<div class="reg-content reg-step-3 third_part_1">
								<div class="steps"><img src="assets/reg-step-3.png"/></div>
								<div>
									<label>Email</label>
									<input id="user_email_1" type="email" placeholder="Your email" name="user[email_alias]" />

									<label>Repeat email</label>
									<input id="user_email_repeat_1" type="email" placeholder="Repeat your email" name="user[email_alias_confirmation]" />

									<div class="check-terms"><input id="user_is_legal_age_1" value="1" type="checkbox" name="user[is_legal_age]"><label>I am 18 years or older</label></div>

									<div class="check-terms"><input id="user_terms_and_conditions_1" value="1" type="checkbox" name="user[terms_and_conditions]"><label>I accept the terms &amp; conditions</label></div>

									<div class="submit-btn"><img src="assets/submit-btn-arrow.png" alt="MarketsWorld South Africa"/><input type="submit" value="Complete Registration" class="complete_reg_1" data-disable-with="Complete Registration" /></div>
								</div>
								<span class="terms"><a href="#">*Terms apply</a></span>
							</div>
						</form>
					</div>					
				</div>
				<div class="button yellow mobile-show" style="clear: both; margin-bottom:20px;"><a href="#">Get Started now</a></div>
			</div>
		</div>
		<div class="four-boxes">
			<div class="content">
				<ul>
					<li>
						<div class="icon"><div><img src="assets/icon-indicies.png" alt="Marketsworld Indicies"/></div></div>
						<span>FREE DEMO</span>
						<div class="text">Use the unlimited demo account with no deposit required and completely free of charge.</div>
					</li>
					<li>
						<div class="icon"><div><img src="assets/icon-traderand.png" alt="Marketsworld trade Rand"/></div></div>
						<span>TRADE RAND</span>
						<div class="text">Make a deposit in Rand and trade a variety of underlying assets, including USD/ZAR.</div>
					</li>
					<li>
						<div class="icon"><div><img src="assets/icon-forex.png" alt="Marketsworld forex"/></div></div>
						<span>SAFE DEPOSIT</span>
						<div class="text">Your funds are segregated and protected. Deposit with popular e-wallets like Skrill and Neteller.</div>
					</li>
					<li>
						<img class="four-boxes-arrow" src="assets/arrow-grey.png" alt="Marketsworld Indicies"/>
						Get <span>$50 RISK-FREE TRADES AND START NOW</span>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<main>
		<!-- ASSETS -->
		<div id="ID-assets" class="assets">
			<div class="content">
				<div class="left">
					<div class="assets-img"><img src="assets/assets.png" alt="Marketsworld assets"></div>
					<div class="assets-list">
						<!-- <h2>Lots of <span>assets</span> to trade</h2> -->
						<h2>Trade the Best Assets</h2>
						<div class="text">
							With MarketsWorld you get access to the hottest and most popular underlying assets. Discover the world of currency trading and diversify your portfolio thanks to a great selection of major and minor pairs, like EUR/USD and USD/ZAR.
						</div>
						<div class="list">
							<ul>
								<li>EUR/USD</li>
								<li>USD/JPY</li>
								<li>GBP/USD</li>
								<li>AUD/JPY</li>
								<li>AUD/USD</li>
								<li>EUR/JPY</li>
								<li>GBP/JPY</li>
								<li>EUR/GBP</li>
								<li>USD/CAD</li>
							</ul>
						</div>
						<div class="list">
							<ul>
								<li>AUD/NZD</li>
								<li>GOLD</li>
								<li>USD/CHF</li>
								<li>USD/ZAR</li>
								<li>USD/RUB</li>
								<li>USD/TRY</li>
								<li>USD/ZAR</li>
								<li>NASDAQ</li>
								<li>FTSE 100</li>
							</ul>
						</div>

					</div>
				</div>
				<div class="right">
					<!-- <h2>Why <span>trade</span> on Marketsworld</h2> -->
					<h2>MarketsWorld – Your World of Opportunities</h2>
					<div class="text">
						<img src="assets/checkmark-red.png" alt="MarketsWorld South Africa"/><span>Free & Unlimited Demo</span>
						<div>Try trading on our platform without a deposit, thanks to our free and unlimited demo account that is available for all traders who want to experience online trading in a controlled environment before they start real trading.</div>
					</div>
					<div class="text">
						<img src="assets/checkmark-red.png" alt="MarketsWorld South Africa"/><span>$10 Minimum Deposit</span>
						<div>Start trading with only $10 deposit and enjoy a great number of benefits while trading on the most technically advanced platform directly from the browser.</div>
					</div>
					<div class="text">
						<img src="assets/checkmark-red.png" alt="MarketsWorld South Africa"/><span>Up to 90% Returns</span>
						<div>Enjoy returns up to 90%, as well as our lucrative bonus program that can help you increase your liquidity from the very start.</div>
					</div>
					<div class="text">
						<img src="assets/checkmark-red.png" alt="MarketsWorld South Africa"/><span>Licensed Broker</span>
						<div>Licensed Broker MarketsWorld is licensed by the Isle of Man GSC under company number 003840V. Current license was issued 6 April 2016.</div>
					</div>
				</div>
				<div class="button green"><a>Register now</a></div>
			</div>
		</div>

		<!-- TRADING ROOM -->
		<div id="ID-tradingroom" class="tradingroom">

			<div class="image">
				<div class="content">
					<!-- <h3>New and <span>unique trading room</span>,<br> to give you an excellent overview</h3> -->
					<h3>Experience live trading on our top-rated platform</h3>
					<div class="button yellow"><a>TRADE NOW</a></div>
					<span>*Terms apply</span>
				</div>
			</div>
			<div class="steps">
				<div class="content">
					<ul>
						<li><span>1</span><div class="text">Follow the chart that shows live market data to correctly predict market movements related to the underlying asset you wish to trade. Use different indicators for best results.</div></li>
						<li><span>2</span><div class="text">Determine the asset, expiry time, trading amount and predicted direction. With MarketsWorld you know your potential payout in advance, so there are no unpleasant surprises.</div></li>
						<li><span>3</span><div class="text">Keep your eye on the trades and your trading history and you can generate payouts up to 90%</div></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- PLATFORMS -->
		<div id="ID-platform" class="platforms">
			<div class="content">
				<div class="platforms-header">
					<!-- <h4>Trade on <span>all platforms</span></h4> -->
					<h4>Trade anytime and anyplace</h4>
					<div class="text">MarketsWorld allows you to trade on multiple devices, so you can be sure never to miss a trade again.</div>
				</div>
				<div class="left-text">
					<div class="text">
						<span>Easy-to- use Interface</span>
						MarketsWorld platform is designed with a single purpose – to help you navigate the world of trading in the easiest way possible.
					</div>
					<div class="text">
						<span>No Downloads</span>
						Trade directly from the browser of your choice. You’ll never have to install any special programs or platforms on your computer.
					</div>
					<div class="text">
						<span>Multiple Devices</span>
						You can trade on any device you have lying nearby: your tablet, mobile phone or personal computer.
					</div>
				</div>
				<div class="middle">
					<img src="assets/platforms.jpg" alt="MarketsWorld South Africa"/>
					<div class="button green"><a>Start today</a></div>
				</div>
				<div class="right-text">
					<div class="text">
						<span>Live Data Stream</span>
						MarketsWorld is using live market data to ensure trading in real market conditions.
					</div>
					<div class="text">
						<span>Trading History</span>
						Follow your trading history to improve your success rate. Make sure to use all features and tools our platform has to offer.
					</div>
					<div class="text">
						<span>Safety</span>
						Your data is safe with us. You can relax and trade the way you like, with one less thing to worry about.
					</div>
				</div>
			</div>
		</div>

		<!-- WITHDRAWAL -->
		<div id="ID-withdrawal" class="withdrawal">
			<div class="withdrawal-left">
				<div class="content-split">
					<h5>About MarketsWorld</h5>
					<div class="text">
						MarketsWorld is an online trading platform, founded with a single mission – to make the world of trading in financial markets more approachable to everyone. Owned and operated by MarketsTheWorld Limited in the Isle of Man, we managed to become leaders in the online trading industry. We support trading in a safe and regulated environment and therefore are licensed and regulated by the Isle of Man Gambling Supervision Commission. 
						<br><br>
						MarketsWorld provides everything a modern and dynamic user needs to accomplish great results in the world of trading. We firmly believe in giving traders all the necessary tools, while enabling them to maintain the ability to place their trades however they want. We respect their integrity and decisions they make. We truly strive to keep doing business as market leaders by delivering great customer support and fast withdrawals.
						<br><br>
						We support numerous payment methods including Skrill and Neteller, as well as many local currencies such as South African Rand. This way we are trying to make trading approachable to traders from all over the world while maintaining the highest principles of ethics and professionalism.
					</div>
					<div class="button yellow"><a>Start today</a></div>
				</div>

			</div>
			<div class="withdrawal-right">
				<div class="content-split">
				</div>
			</div>
		</div>
	</main>

	<footer>
		<div class="content">
			<div>
				<strong>GENERAL RISK WARNING:</strong>
				The financial services provided by this website carry a high level of risk and can result in the loss of all your funds. You should never invest money that you cannot afford to lose
			</div>

			<div>
				© MarketsWorld South Africa, 2018. All Rights Reserved.
			</div>
		</div>
	</footer>
</div>


<div class="overlay">
	<div class="reg-box">
		<div class="close">X</div>
		<div class="left">
			<div class="text">
				<div class="logo"><img src="assets/marketsworld-logo.png" alt="Marketsworld South Africa"/></div>
				<!-- SUBHEADERS WITH ICONS -->
				<div class="subheader">
					<div>
						<img src="assets/icon-red-1.png" alt="$50 risk free trades for new traders" /><div><span>$50 risk free</span>trades for new traders</div>
					</div>
					<div>
						<img src="assets/icon-red-2.png" alt="$50 risk free trades for new traders" /><div><span>Licensed &amp; regulated</span>in the british isles</div>
					</div>
				</div>

				<!-- BULLET POINTS -->
				<div class="bulletpoints">
					<ul>
						<li><img class="checkmark" src="assets/checkmark.png" alt="Marketsworld South Africa"/><span>Earn up to 90% Returns</span><img class="arrows" src="assets/arrows.png" alt="Marketsworld South Africa"/></li>
						<li><img class="checkmark" src="assets/checkmark.png" alt="Marketsworld South Africa"/><span>up to $1,000 start up bonus</span><img class="arrows" src="assets/arrows.png" alt="Marketsworld South Africa"/></li>
						<li><img class="checkmark" src="assets/checkmark.png" alt="Marketsworld South Africa"/><span>$10 Risk Free - No deposit bonus</span><img class="arrows" src="assets/arrows.png" alt="Marketsworld South Africa"/></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="right">
			<ul class="steps">
				<li id="step_one" class="active current"><img class="grey" src="assets/steps-checkmark-grey.png" alt="Marketsworld South Africa" /><img class="green" src="assets/steps-checkmark-green.png" alt="Marketsworld South Africa" /><span>Step 1</span></li>
				<li id="step_two" class="active"><img class="grey" src="assets/steps-checkmark-grey.png" alt="Marketsworld South Africa" /><img class="green" src="assets/steps-checkmark-green.png" alt="Marketsworld South Africa" /><span>Step 2</span></li>
				<li id="step_three" class="active"><img class="grey" src="assets/steps-checkmark-grey.png" alt="Marketsworld South Africa" /><img class="green" src="assets/steps-checkmark-green.png" alt="Marketsworld South Africa" /><span>Step 3</span></li>
			</ul>
			<div class="reg-header">Sign up in 3 steps</div>
			<div class="overlay-reg-box">
					<form name="registration_2" id="registration_two" class="registration_2" action="https://s3.marketsworldstaging.com/users" method="post">
					<div class="reg-content reg-step-1 first_part_2">
					
						<label>Username</label>
						<input id="user_name_2" type="text" placeholder="Choose Username" name="user[login]" />

						<label>Country of residence</label>
						<div class="styled-select dropdown">
							<select id="user_country_2" name="user[country]">
								<%= render partial: "country"%>
							</select>
						</div>
							<label>Language</label>
							<div class="styled-select dropdown">
								<select id="user_last_chosen_language_2">
									<%= render partial: "language"%>
								</select>
								</div>

								<div class="submit-btn"><img src="assets/submit-btn-arrow.png" alt="MarketsWorld South Africa"/><input type="button" value="Join Now" class="join_now_2"/></div>
					
					<span class="terms"><a href="#">*Terms apply</a></span>
				</div>
				<div class="reg-content reg-step-2 second_part_2">
					
						<label>Password</label>
						<input id="user_password_2" type="password" placeholder="Choose password" name="user[password_alias]" title="8 to 20 characters long and includes one of each: uppercase; lowercase; and a number or symbol"/>

						<label>Repeat Password</label>
						<input id="user_password_repeat_2" type="password" placeholder="Repeat password" name="user[password_alias_confirmation]" title="Passwords must match" />

						<div class="birthday">
							<label>Date of birth</label>
							<div class="styled-select dropdown small day">
								<select class="birth" id="user_birthdate_3i_2" name="user[birthdate(3i)]">
									<option value="">Day</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
									<option value="31">31</option>
								</select>
							</div>

							<div class="styled-select dropdown small month">
								<select class="birth" id="user_birthdate_2i_2" name="user[birthdate(2i)]">
									<option value="">Month</option>
									<option value="1">Jan</option>
									<option value="2">Feb</option>
									<option value="3">Mar</option>
									<option value="4">Apr</option>
									<option value="5">May</option>
									<option value="6">Jun</option>
									<option value="7">Jul</option>
									<option value="8">Aug</option>
									<option value="9">Sep</option>
									<option value="10">Oct</option>
									<option value="11">Nov</option>
									<option value="12">Dec</option>
								</select>
							</div>

							<div class="styled-select dropdown small year">
								<select class="birth" id="user_birthdate_1i_2" name="user[birthdate(1i)]">
								</select>
							</div>
						</div>

						<div id="birthdate_error_message_div_2"></div>

						<div class="submit-btn"><img src="assets/submit-btn-arrow.png" alt="MarketsWorld South Africa"/><input type="button" value="Next Step" class="next_step_2" /></div>
						<span class="terms"><a href="#">*Terms apply</a></span>
				</div>
				<div class="reg-content reg-step-3 third_part_2">
					
						<label>Email</label>
						<input id="user_email_2" type="email" placeholder="Your email" name="user[email_alias]" />

						<label>Repeat email</label>
						<input id="user_email_repeat_2" type="email" placeholder="Repeat your email" name="user[email_alias_confirmation]" />

						<div class="check-terms"><input id="user_is_legal_age_2" value="1" type="checkbox" name="user[is_legal_age]"><label>I am 18 years or older</label></div>

						<div class="check-terms"><input id="user_terms_and_conditions_2" value="1" type="checkbox" name="user[terms_and_conditions]"><label>I accept the terms &amp; conditions</label></div>



						<div class="submit-btn"><img src="assets/submit-btn-arrow.png" alt="MarketsWorld South Africa"/><input type="submit" value="Finish registration" class="complete_reg_2" data-disable-with="Finish registration"/></div>
					</form>
					<span class="terms"><a href="#">*Terms apply</a></span>
				</div>
				</form>
			</div>

		</div>
	</div>
</div>


<script>
	var user_age=0;
	$("#registration_one").validate({
      debug: false,
      rules: {
        // RK: NOTE: strange bug requires that remote is last to be checked
        "user[login]": {
          "pattern": /^[A-Za-z0-9\-_]{3,40}$/,
          required: true,
          remote: "https://s3.marketsworldstaging.com/users/check_duplicate_username",
        },
        "user[password_alias]" : {
          'pattern': /^(?=.*[a-z])(?=.*[A-Z])((?=.*\d)|(?=.*[$@$!%*?&]))[A-Za-z\d$@$!%*?&]{8,20}/,
          required: true
        },
        "user[password_alias_confirmation]" : {
          required: true,
          equalTo: "#user_password_1"
        },
        "user[email_alias]": {
          "pattern": /^.+@.+$/,
          required: true,
          remote:"https://s3.marketsworldstaging.com/users/check_duplicate_email"
        },
        "user[email_alias_confirmation]" : {
          required: true,
          equalTo: "#user_email_1"
        },
        "user[is_legal_age]" : {
          required: true
        },
        "user[terms_and_conditions]" : {
          required: true
        },
      },

      errorClass: "form-ui-invalid"
    });


	$("#registration_two").validate({
      debug: false,
      rules: {
        // RK: NOTE: strange bug requires that remote is last to be checked
        "user[login]": {
          "pattern": /^[A-Za-z0-9\-_]{3,40}$/,
          required: true,
          remote: "https://s3.marketsworldstaging.com/users/check_duplicate_username",
        },
        "user[password_alias]" : {
          'pattern': /^(?=.*[a-z])(?=.*[A-Z])((?=.*\d)|(?=.*[$@$!%*?&]))[A-Za-z\d$@$!%*?&]{8,20}/,
          required: true
        },
        "user[password_alias_confirmation]" : {
          required: true,
          equalTo: "#user_password_2"
        },
        "user[email_alias]": {
          "pattern": /^.+@.+$/,
          required: true,
          remote:"https://s3.marketsworldstaging.com/users/check_duplicate_email"
        },
        "user[email_alias_confirmation]" : {
          required: true,
          equalTo: "#user_email_2"
        },
        "user[is_legal_age]" : {
          required: true
        },
        "user[terms_and_conditions]" : {
          required: true
        },
      },

      errorClass: "form-ui-invalid"
    });



    $('form[name="registration_1"] input[name="user[login]"]').rules('add', {
        messages: {
            pattern: 'Minimum 3 characters, containing: letters, numbers, hyphen and underscore only, maximum 40 characters',
            required: 'Minimum 3 characters, containing: letters, numbers, hyphen and underscore only, maximum 40 characters',
            remote: 'That username is unacceptable or already registered'
        }
    });

    $('form[name="registration_1"] input[name="user[email_alias]"]').rules('add', {
        messages: {
            pattern: 'Must be a valid email address',
            required: 'This field is required',
            remote: 'That email is unacceptable or already registered'
        }
    });


    $('form[name="registration_2"] input[name="user[login]"]').rules('add', {
        messages: {
            pattern: 'Minimum 3 characters, containing: letters, numbers, hyphen and underscore only, maximum 40 characters',
            required: 'Minimum 3 characters, containing: letters, numbers, hyphen and underscore only, maximum 40 characters',
            remote: 'That username is unacceptable or already registered'
        }
    });

    $('form[name="registration_2"] input[name="user[email_alias]"]').rules('add', {
        messages: {
            pattern: 'Must be a valid email address',
            required: 'This field is required',
            remote: 'That email is unacceptable or already registered'
        }
    });



    //------------------------- keyup validation via pattern match and API call-----------------------
    $( "#user_name_1" ).keyup(function() {
  		$("#registration_one").validate().element('#user_name_1');
	});

	$( "#user_name_2" ).keyup(function() {
  		$("#registration_two").validate().element('#user_name_2');
	});




	$(".menu-openaccount").click(function(){
		$(".overlay").css({"display":"block"});
	});

	$(".button").click(function(){
		$(".overlay").css({"display":"block"});
	});

	$(".four-boxes-arrow").click(function(){
		$(".overlay").css({"display":"block"});
	});

	$(".close").click(function(){
		$(".overlay").css({"display":"none"});
		
		$('#registration_two').validate().resetForm();
		$('#registration_two')[0].reset();


		$(".first_part_2").show();
		$(".second_part_2").hide();
		$(".third_part_2").hide();

		if ($('#step_one').hasClass('current'))
		{
			
		}
		else
		{
			$('#step_one').addClass('current');
		}

		if ($('#step_two').hasClass('current'))
		{
			$('#step_two').removeClass('current');
		}
		

		if ($('#step_three').hasClass('current'))
		{
			$('#step_three').removeClass('current');
		}

	});

	// $(".menu-login").click(function(){
	// 	$(".login-form").css({"display":"block"});
	// });

	$(".close-login").click(function(){
		$(".login-form").css({"display":"none"});
	});


	/*CLICK MENU*/
	var menuState = false;
	var menuOpen = false;
	$(".navtoogle").click(function(){
		if(menuOpen == false){
			$(".nav").css({"display":"block"});

			menuOpen = true;
		}else if(menuOpen == true){
			$(".nav").css({"display":"none"});
			menuOpen = false;
		}
	});





	$(".join_now_1").on('click', function(){
		if($("#registration_one").validate().element('#user_name_1'))
		{
			$(".first_part_1").hide();
			$(".second_part_1").show();
		}
		else
		{

		}
	})

	$(".next_step_1").on('click', function(){
		if($("#registration_one").validate().element('#user_password_1') &&  $("#registration_one").validate().element('#user_password_repeat_1'))
		{
			var selected_day = $("#user_birthdate_3i_1 option:selected").val();
			var selected_month = $("#user_birthdate_2i_1 option:selected").val();
			var selected_year = $("#user_birthdate_1i_1 option:selected").val();

			if(selected_day!="" && selected_month!="" && selected_year!="")
			{
				user_age=age_calculation(selected_day,selected_month,selected_year);
				$("#birthdate_error_message_div_1").hide();
				$(".second_part_1").hide();
				$(".third_part_1").show();
			}
			else
			{
				$("#birthdate_error_message_div_1").show();
				$("#birthdate_error_message_div_1").html("<b>These fields are required</b>");
				
			}
		}
		else
		{

		}
	})



	$(".complete_reg_1").on('click', function(){
		if($("#registration_one").validate().element('#user_email_1') &&  $("#registration_one").validate().element('#user_email_repeat_1') && $("#registration_one").validate().element('#user_is_legal_age_1') && $("#registration_one").validate().element('#user_terms_and_conditions_1'))
		{
			if(user_age > 0 && user_age < 18)
			{
				$(".first_part_1").hide();
				$(".second_part_1").show();
				$(".third_part_1").hide();

				$("#birthdate_error_message_div_1").show();
				$("#birthdate_error_message_div_1").html("<b>Age must be greater than 18</b>");
			}
		}
		else
		{
			
		}
	})

//----------------------javscript for second form-------------------------------

	$(".join_now_2").on('click', function(){
		if($("#registration_two").validate().element('#user_name_2'))
		{
			$(".first_part_2").hide();
			$(".second_part_2").show();

			if ($('#step_one').hasClass('current'))
			{
				$('#step_one').removeClass('current');
			}

			if ($('#step_two').hasClass('current'))
			{
				
			}
			else
			{
				$('#step_two').addClass('current');
			}

			if ($('#step_three').hasClass('current'))
			{
				$('#step_three').removeClass('current');
			}
		}
		else
		{

		}
	})

	$(".next_step_2").on('click', function(){
		if($("#registration_two").validate().element('#user_password_2') &&  $("#registration_two").validate().element('#user_password_repeat_2'))
		{
			var selected_day = $("#user_birthdate_3i_2 option:selected").val();
			var selected_month = $("#user_birthdate_2i_2 option:selected").val();
			var selected_year = $("#user_birthdate_1i_2 option:selected").val();

			if(selected_day!="" && selected_month!="" && selected_year!="")
			{
				user_age=age_calculation(selected_day,selected_month,selected_year);
				$("#birthdate_error_message_div_2").hide();
				$(".second_part_2").hide();
				$(".third_part_2").show();

				if ($('#step_one').hasClass('current'))
				{
					$('#step_one').removeClass('current');
				}

				if ($('#step_two').hasClass('current'))
				{
					$('#step_two').removeClass('current');
				}

				if ($('#step_three').hasClass('current'))
				{
					
				}
				else
				{
					$('#step_three').addClass('current');
				}

				
			}
			else
			{
				$("#birthdate_error_message_div_2").show();
				$("#birthdate_error_message_div_2").html("<b>These fields are required</b>");
				
			}
		}
		else
		{

		}
	})



	$(".complete_reg_2").on('click', function(){
		if($("#registration_two").validate().element('#user_email_2') &&  $("#registration_two").validate().element('#user_email_repeat_2') && $("#registration_two").validate().element('#user_is_legal_age_2') && $("#registration_two").validate().element('#user_terms_and_conditions_2'))
		{
			if(user_age > 0 && user_age < 18)
			{
				$(".first_part_2").hide();
				$(".second_part_2").show();
				$(".third_part_2").hide();

				$("#birthdate_error_message_div_2").show();
				$("#birthdate_error_message_div_2").html("<b>Age must be greater than 18</b>");
			}
		}
		else
		{
			
		}
	})

	
	function age_calculation(day,month,year)
	{
		var form_day=Number(day);
		var form_month=Number(month);
		var form_year=Number(year);

		var today = new Date();
		var age = today.getFullYear() - form_year;
		if (today.getMonth() < form_month || (today.getMonth() == form_month && today.getDate() < form_day)) 
		{
		  age--;
		}
		return age;
	}

	//------------------------- code to generate year options dynamically---------------------

	var date = new Date();
	var year = date.getFullYear();
	var current_year=Number(year)-18;
	
	var year_array=[];
	for(i=1900; i<=current_year; i++)
	{
		year_array.push(i);
	}

	var options = year_array.reverse(); 

	$('#user_birthdate_1i_1').empty();
	$('#user_birthdate_1i_2').empty();

	$('#user_birthdate_1i_1').append($('<option></option>').val("").html("Year"));
	$('#user_birthdate_1i_2').append($('<option></option>').val("").html("Year"));

	$.each(options, function(i, p) {
		$('#user_birthdate_1i_1').append($('<option></option>').val(p).html(p));
		$('#user_birthdate_1i_2').append($('<option></option>').val(p).html(p));
	});

</script>


<style>
.form-ui-invalid
{
	font-size: 12px;
    font-weight: bold;
}

label#user_birthdate_1i_1-error {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

.slidearea .reg-box .birthday
{
	position: relative;
	padding-bottom: 20px;
}

#birthdate_error_message_div_2
{
	text-align: center;
}
#birthdate_error_message_div_2 b
{
	color: black;
}

/*#registration_one .check-terms #user_is_legal_age_1 + label.form-ui-invalid
{
	float: right;
}*/
#registration_one .check-terms #user_is_legal_age_1 + label.form-ui-invalid, .slidearea .reg-box #registration_one  .check-terms label {
    float: none;
    /* width: 100%; */
    /* text-align: right; */
    /* display: block; */
    display: table-footer-group;
    }
.slidearea .reg-box #registration_one  .check-terms {
    display: block;
    width: 100%;
    overflow: hidden;
}
#registration_one .check-terms #user_is_legal_age_1 + label.form-ui-invalid + label, .slidearea .reg-box #registration_one  .check-terms label + label{
	float: none;
    display: table-header-group;
}



#registration_two .check-terms #user_is_legal_age_2 + label.form-ui-invalid, .slidearea .reg-box #registration_two  .check-terms label, #registration_two .check-terms #user_terms_and_conditions_2 + label.form-ui-invalid{
    float: none;
    /* width: 100%; */
    /* text-align: right; */
    /* display: block; */
    display: table-footer-group;
    }
.slidearea .reg-box #registration_two  .check-terms {
    display: block;
    width: 100%;
    overflow: hidden;
}
#registration_two .check-terms #user_terms_and_conditions_2 + label.form-ui-invalid + label, .slidearea .reg-box #registration_two  .check-terms label + label,  #registration_two .check-terms #user_terms_and_conditions_2 + label.form-ui-invalid + label, #registration_two .check-terms  #user_is_legal_age_2 + label.form-ui-invalid + label{
	float: none;
    display: table-header-group;
}
</style>