<!DOCTYPE html>
<html>
  <head>
    <title>MarketsWorld</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
	<title>MarketsWorld South Africa</title>
	<meta name="description" content="MarketsWorld South Africa">
	<meta http-equiv="Content-Language" content="en" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=0.768, maximum-scale=0.768" />
	<meta http-equiv="Content-Language" content="da" /> 
	<link rel="alternate" href="https://www.marketsworld.co.za/"/>
	<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
	<link rel="icon" href="assets/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
